body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}
/* Compare page code*/

#navbar {
position: fixed;
}
/* Changes the color of pictures on hover*/
.column1:hover #image1 {
  opacity: 0.8;
    cursor: pointer;
}
.column2:hover #image2 {
  opacity: 0.8;
    cursor: pointer;
}
#image_container {
    margin-left:25%;
}

#heading{
    position: static;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    margin-top: 65px;
    margin-bottom: 65px;
}
/* compare page end */

/* Profile Page code */

#profile-picture{
    position: relative;
    border-radius: 50%;
    background-image: url(./images/sean-o-406693-unsplash.jpg);
    border-color: lightgray;
    height: 150px;
    width: 150px;
    margin-left: 60px;
    margin-top: 60px;
}

#profile-username{
    position: absolute;
    font-size: 35px;
    margin-left: 260px;
    margin-top: -110px;
}

#upload-picture{
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    margin-left: 60px;
    margin-top: 70px;
}

#uploadButton{
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: gray;
    vertical-align: middle;
    top: 31%;
}

#buttonHelp{
position: fixed;
border-radius: 5px;
height: 40px;
width: 50px;
background-color:#E9AD9C;
top: 10%;
margin-left: 1200px;
border:none;
}
#buttonHelp:hover{
cursor: pointer;
    opacity: 0.9;
 }

/*Sidebar left*/
@import url("https://bootswatch.com/flatly/bootstrap.min.css");

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:10px;
    position: fixed;
}

#search_shootout {
    margin-top: 15px;
    margin-bottom: 15px;

}

#create_shootout {
    background-color: #E9AD9C;
    border: none;
    height: 40px;
    z-index: 2;
    border-radius: 5px;
    margin-top: 15px;
}
/* End Sidebar left*/

footer {
  padding-left: 15px;
  padding-right: 15px;
}