body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}
/* Compare page code*/

/* Changes the color of pictures on hover*/
.column1:hover #image1 {
  opacity: 0.8;
    cursor: pointer;
}
.column2:hover #image2 {
  opacity: 0.8;
    cursor: pointer;
}
#image_container {
    margin-left:25%;
}

#heading{
    position: static;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 65px;
}
/* compare page end */

/* Profile Page code */

#profile-picture{
    position: relative;
    border-radius: 50%;
    background-image: url(./images/sean-o-406693-unsplash.jpg);
    border-color: lightgray;
    height: 150px;
    width: 150px;
    margin-left: 60px;
    margin-top: 80px;
}

#profile-username{
    position: absolute;
    font-size: 35px;
    margin-left: 260px;
    margin-top: -110px;
}

#upload-picture{
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    height: 150px;
    width: 200px;
    margin-left: 60px;
    margin-top: 70px;
}

#uploadButton{
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: gray;
    vertical-align: middle;
    top: 31%;
}

/* creates Help Button Compare*/
    .helpBtn1{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1220px;
    bottom: 460px;
    display: inline-block;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpBtn1 .helpText{
    visibility: hidden;
    width: 180px;
    height: 245px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -516%;
    left: -300%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn1 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn1:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn1:hover{
    cursor: pointer;
    opacity: 0.9;}

/*Creates help button Profile*/
.helpBtn2{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1233px;
    display: inline-block;
    bottom: 511px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpBtn2 .helpText{
    visibility: hidden;
    width: 170px;
    height: 190px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -380%;
    left: -280%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn2 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn2:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn2:hover{
    cursor: pointer;
    opacity: 0.9;}



/*Sidebar left*/
@import url("https://bootswatch.com/flatly/bootstrap.min.css");

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:80px;
    position: fixed;
}

#search_shootout {
    margin-top: 15px;
    margin-bottom: 15px;

}

#create_shootout {
    background-color: #E9AD9C;
    border: none;
    height: 40px;
    z-index: 2;
    border-radius: 5px;
    margin-top: 15px;
}
/* End Sidebar left*/

footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*Modal shootout Fenster*/
.modal{
    /*display:none;*/
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color:#fafafa;
    margin:15% auto;
    padding:30px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0.17);
    animation-name:modalopen;
    animation-duration: 1s;
}
#createShootout{
    background:#E9AD9C;
    padding: 1em 2em;
    color:#fff;
    border:0;
}
.close{
    color:#ccc;
    float: right;
    font-size:30px;
}
.close:hover, closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
}

