body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}
/* Compare page code*/

/* Changes the color of pictures on hover*/
.column1:hover #image1 {
  opacity: 0.8;
    cursor: pointer;
}
.column2:hover #image2 {
  opacity: 0.8;
    cursor: pointer;
}
#image_container {
    margin-left:25%;
    margin-top: 295px;
    position: fixed;

}

#heading{
    position: fixed;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
    margin-left: 35%;
    margin-top: 80px;
    margin-bottom: 65px;
}
/* compare page end */

/* Profile Page code */

#profile-picture{
    position: relative;
    border-radius: 50%;
    background-image: url(./images/sean-o-406693-unsplash.jpg);
    border-color: lightgray;
    height: 150px;
    width: 150px;
    margin-left: 60px;
    margin-top: 80px;
}

#profile-username{
    position: absolute;
    font-size: 35px;
    margin-left: 260px;
    margin-top: -110px;
}

#upload-picture{
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    margin-left: 60px;
    margin-top: 70px;
}

#uploadButton{
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: gray;
    vertical-align: middle;
    top: 31%;
    color: black;
    border-color: none;
    font-weight: bold;
    font-size: 25px;
}

/* creates Help Button Compare*/
    .helpBtn1{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1230px;
    display: inline-block;
    bottom: 511px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpBtn1 .helpText{
    visibility: hidden;
    width: 180px;
    height: 245px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -516%;
    left: -300%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn1 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn1:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn1:hover{
    cursor: pointer;
    opacity: 0.9;}

/*Creates help button Profile*/
.helpBtn2{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1220px;
    display: inline-block;
    bottom: 510px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpBtn2 .helpText{
    visibility: hidden;
    width: 170px;
    height: 190px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -380%;
    left: -280%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn2 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn2:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn2:hover{
    cursor: pointer;
    opacity: 0.9;}

/*Creates help button Pop-up Create new shootout*/
.helpBtn5{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 20px;
    position: fixed;
    margin-left: -105px;
    display: inline-block;
    bottom: 385px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpBtn5 .helpText{
    visibility: hidden;
    width: 170px;
    height: 130px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -557%;
    left: 290%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn5 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn5:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn5:hover{
    cursor: pointer;
    opacity: 0.9;}

/*Sidebar left*/
@import url("https://bootswatch.com/flatly/bootstrap.min.css");

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:80px;
    position: absolute;
    font-size: 17px;
    background-color: #F2F2F2;
    border-radius: 5px;
}

#search_shootout {
    margin-top: 15px;
    margin-bottom: 15px;

}

#create_shootout {
    background-color: #E9AD9C;
    border: none;
    height: 40px;
    z-index: 2;
    border-radius: 5px;
    margin-top: 15px;
    color:#fff;
    font-size: 14px;
}

* {
  box-sizing: border-box;
}

#shootout_input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#shootouttable {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#shootouttable li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#shootouttable li a:hover:not(.header) {
  background-color: #eee;
}

/*End Sidebar left*/

footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*Modal shootout Fenster*/
.modal{
    /*display:none;*/
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color:#fafafa;
    margin:15% auto;
    padding:30px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0.17);
    animation-name:modalopen;
    animation-duration: 1s;
}
#createShootout{
    background:#E9AD9C;
    padding: 1em 2em;
    color:#fff;
    border:0;
    border-radius: 5px;
}
.close{
    color:#ccc;
    float: right;
    font-size:30px;
}
.close:hover, closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
}
/*AGB Accordion
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.dropBtnKat {
    background-color: #E9AD9C;
    color: #ffffff;
    padding: 1em 2em;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}
.dropdownKategorie{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: #E9AD9C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdownKategorie:hover .dropdown-content{
    display: block;
}
.dropdownKategorie:hover .dropBtnKat{
    background-color: #aaaaaa;
}

/*Profile Flexbox---------------------------------*/
/** {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

/*.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

 Create four equal columns that sits next to each other
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    flex-direction: row-reverse;

}

.column img {
    margin-top: 250px;
    margin-left: 50px;
    flex-direction: row-reverse;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}*/
