.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 31%;
    margin: 1%;
    text-align: center;
    line-height: 280px;
    font-size: 25px;
    margin-top: 5%;
}


.navbar-brand{
margin-left: 360px;
margin-top: -0.5%;
}

.heading{
color: white;
margin-top: 2%;
margin-left: 480px;
font-size: 28px;}

.helpBtn10{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1200px;
    display: inline-block;
    bottom: 545px;
    z-index: 3;
    border-radius: 5px;
    color: white;
    }
    .helpBtn10 .helpText{
    visibility: hidden;
    width: 150px;
    height: 330px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -730%;
    left: -225%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn10 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn10:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn10:hover{
    cursor: pointer;
    opacity: 0.9;}

.form-group{
margin-left: 600px;
margin-top: 150px;
}

NumberOfShootouts {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(15,10,10);
    text-align: center;
    color: lightgray;
    height: 25px;
    z-index: 10;
}

.btnAdmin1{
    font-size: 19px;
         top: 3.5%;
         margin-left: 1050px;
         position: fixed;
         border: none;
         background-color: transparent;
         color: white;
     }

 .helpBtn11{
         background-color: #E9AD9C;
         border: none;
         width: 40px;
         height: 40px;
         position: fixed;
         margin-left: 1200px;
         display: inline-block;
         bottom: 560px;
         z-index: 3;
         border-radius: 5px;
         color: white;
         }
         .helpBtn11 .helpText{
         visibility: hidden;
         width: 150px;
         height: 330px;
         background-color: #E9AD9C;
         color: white;
         text-align: center;
         border-radius: 5px;
         padding: 7px 0;
         position: absolute;
         z-index: 1;
         bottom: -730%;
         left: -225%;
         margin-left: -70px;
         opacity: 0;
         transition: opacity 0.3s;
         }
         .helpBtn11 .helpText::after{
         content: "";
         position: absolute;
         top: 10%;
         left: 100%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: #E9AD9C transparent transparent transparent;
         }
         .helpBtn11:hover .helpText{
         visibility: visible;
         opacity: 1;
         }
         .helpBtn11:hover{
         cursor: pointer;
         opacity: 0.9;}
