.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 31%;
    margin: 1%;
    text-align: center;
    line-height: 280px;
    font-size: 25px;
    margin-top: 5%;
}


.navbar-brand{
margin-left: 360px;
margin-top: -0.5%;
}

.heading{
color: white;
margin-top: 2%;
margin-left: 480px;
font-size: 28px;}

.helpBtn10{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1200px;
    display: inline-block;
    bottom: 545px;
    z-index: 3;
    border-radius: 5px;
    color: white;
    }
    .helpBtn10 .helpText{
    visibility: hidden;
    width: 150px;
    height: 100px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -150%;
    left: -225%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpBtn10 .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpBtn10:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpBtn10:hover{
    cursor: pointer;
    opacity: 0.9;}

.form-group{
margin-left: 600px;
margin-top: 150px;
}

NumberOfShootouts {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.footer {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(15,10,10);
    text-align: center;
    color: lightgray;
    height: 25px;
    z-index: 10;
}

.btnAdmin1{
     padding: 14px 11px;
     width: 130px;
     background-color: #585858;
     border: none;
     color: white;
     font-size: 20px;
     top: 0%;
     margin-left: 790px;
     position: fixed;
     }


* {
    box-sizing: border-box;
    text-align: left;
}
/* Create three unequal columns that floats next to each other */
.columnDash {
    float: left;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    height: 400px;
    margin:20px;
    width: 45%;
    margin-top: 100px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    font-weight: bold;
}
 .btnAdmin1 {
         padding: 14px 11px;
         font-size: 19px;
         top: 0%;
         margin-left: 790px;
         position: fixed;
         border: none;
         background-color: #585858;
         color: white;
}


.helpBtn13{
         background-color: #E9AD9C;
         border: none;
         width: 40px;
         height: 40px;
         position: fixed;
         margin-left: 1200px;
         display: inline-block;
         bottom: 535px;
         z-index: 3;
         border-radius: 5px;
         color: white;
         }
         .helpBtn13 .helpText{
         visibility: hidden;
         width: 150px;
         height: 100px;
         background-color: #E9AD9C;
         color: white;
         text-align: center;
         border-radius: 5px;
         padding: 7px 0;
         position: absolute;
         z-index: 1;
         bottom: -150%;
         left: -225%;
         margin-left: -70px;
         opacity: 0;
         transition: opacity 0.3s;
         }
         .helpBtn13 .helpText::after{
         content: "";
         position: absolute;
         top: 10%;
         left: 100%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: #E9AD9C transparent transparent transparent;
         }
         .helpBtn13:hover .helpText{
         visibility: visible;
         opacity: 1;
         }
         .helpBtn13:hover{
         cursor: pointer;
         opacity: 0.9;
         }

.btnAdmin1:active{
     outline: none;
     border-color: transparent;
     webkit-box-shadow: none;
     box-shadow:none;
     }
     .btnAdmin1:focus{
     outline: none;
     border-color: transparent;
     webkit-box-shadow: none;
     box-shadow:none;
     }