.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 31%;
    margin: 1%;
    text-align: center;
    line-height: 280px;
    font-size: 25px;
    margin-top: 10%;
}