/* login-style basics */
html, body {
    max-width: 100%;
    max-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /*background: #f0f0f0;*/
}
#background {
    margin-top: 0;
    /* margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;*/
    background-image: url(./images/sean-o-406693-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-size: 100% 100vh;
    background-position: center center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#slogan {
    color: white;
    font-size: 80px;
    font-family: "Palatino Linotype", "Book Antiqua", sans-serif;
    text-emphasis: bold;
    margin-left: 70px;
    width: 500px;
    text-align: center;
}
#companyName{
    color: white;

}
/*
#choice {
    color: transparent;
    margin-top: 350px;
    margin-left: 70px;
    z-index: 2;
    width: 200px;
    height: 50px;
    background: #FBF0EE;
}
*/

#buttonCreate{
    background-color: #E9AD9C;
    border: none;
    color: white;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 75%;
    margin-left: 855px;
    z-index: 2;
    border-radius: 5px;
}

#buttonLogin{
    background-color: #E9AD9C;
    border: none;
    color: white;
    width: 190px;
    height: 50px;
    /*position: absolute;
    top: 87%;
    margin-left: 860px;*/
    margin-top: 30px;
    display: none;
    z-index: 2;
    border-radius: 5px;
    color: white;
}
/* creates Help Button LogIn*/
    .help{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 50px;
    position: fixed;
    margin-left: 1140px;
    display: inline-block;
    bottom: 410px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .help .helpText{
    visibility: hidden;
    width: 150px;
    height: 170px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -21%;
    left: -230%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .help .helpText::after{
    content: "";
    position: absolute;
    top: 80%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .help:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .help:hover{
    cursor: pointer;
    opacity: 0.9;}

/* Creates Help Button register*/
.helpRe{
    display: inline-block;
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 285px;
    margin-bottom: 100px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpRe .helpText{
    visibility: hidden;
    width: 153px;
    height: 70px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -112%;
    left: -230%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpRe .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpRe:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpRe:hover{
    cursor: pointer;
    opacity: 0.9;}



#buttonCreate:hover{
    cursor: pointer;
    opacity: 0.9;
}
#buttonLogin:hover{
    cursor: pointer;
    opacity: 0.9;
}

#signup {
    position: absolute;
    width: 675px;
    height: 77%;
    top: 40%;
    left: 80%;
    margin-top: -140px;
    margin-left: -450px;
    display:none;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;

}

#column {
	width: 33%;
	padding: 10px 40px;
	float: left;

}
/* login-style additional */
#container {
    position: absolute;
    width: 340px;
    height: 400px;
    top: 45%;
    left: 80%;
    margin-top: -140px;
    margin-left: -170px;
    display:block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
}
#sign-in1 {
    position: absolute;
    margin-top: 7px;
    margin-left: 15px;
    background: white;
    font-size: 20px;
}

#legend {
    position: absolute;
    margin-top: 10px;
    margin-left: 45px;
    background: white;
    font-size: 20px;
}
/* login-style making it pretty */
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
/*styling different input areas */
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 16px;
    width: 250px;
    height: 25px;
}
#lower {
    /*background: #ecf2f5;*/
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
#lower2 {

}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
    padding: 40px;
}


input[type=submit] {
    /*float: left;
    margin-right: 20px;*/
    margin-left: 17px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}


label, input {
    float: left;
}

label {
width: auto;
}

#AGBlabel {
width: 150px;
margin-top: 18px;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


#popuptoggle {
    margin-left: 300px;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #E9AD9C; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left:75%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#AGBModal {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}