/* login-style basics */
html, body {
    max-width: 100%;
    max-height: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /*background: #f0f0f0;*/
}
#background {
    margin-top: 0;
    /* margin-right: 0;
     margin-bottom: 0;
     margin-left: 0;*/
    background-image: url(./images/sean-o-406693-unsplash.jpg);
    width: 100%;
    height: 100%;
    background-size: 100% 100vh;
    background-position: center center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#slogan {
    color: white;
    font-size: 80px;
    font-family: "Palatino Linotype", "Book Antiqua", sans-serif;
    text-emphasis: bold;
    margin-left: 70px;
    width: 500px;
    text-align: center;
}
#companyName{
    color: white;

}
/*
#choice {
    color: transparent;
    margin-top: 350px;
    margin-left: 70px;
    z-index: 2;
    width: 200px;
    height: 50px;
    background: #FBF0EE;
}
*/

#buttonCreate{
    background-color: #E9AD9C;
    border: none;
    color: white;
    width: 320px;
    height: 50px;
    position: absolute;
    top: 75%;
    margin-left: 855px;
    z-index: 2;
    border-radius: 5px;
}

#buttonLogin{
    background-color: #E9AD9C;
    border: none;
    color: white;
    width: 190px;
    height: 50px;
    position: absolute;
    top: 87%;
    margin-left: 860px;
    display: none;
    z-index: 2;
    border-radius: 5px;
    color: white;
}
/* creates Help Button LogIn*/
    .help{
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 50px;
    position: fixed;
    margin-left: 1140px;
    display: inline-block;
    bottom: 420px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .help .helpText{
    visibility: hidden;
    width: 150px;
    height: 170px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -21%;
    left: -230%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .help .helpText::after{
    content: "";
    position: absolute;
    top: 80%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .help:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .help:hover{
    cursor: pointer;
    opacity: 0.9;}

/* Creates Help Button register*/
.helpRe{
    display: inline-block;
    background-color: #E9AD9C;
    border: none;
    width: 40px;
    height: 40px;
    position: fixed;
    margin-left: 1140px;
    bottom: 560px;
    z-index: 2;
    border-radius: 5px;
    color: white;
    }
    .helpRe .helpText{
    visibility: hidden;
    width: 153px;
    height: 70px;
    background-color: #E9AD9C;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -112%;
    left: -230%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    }
    .helpRe .helpText::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E9AD9C transparent transparent transparent;
    }
    .helpRe:hover .helpText{
    visibility: visible;
    opacity: 1;
    }
    .helpRe:hover{
    cursor: pointer;
    opacity: 0.9;}



#buttonCreate:hover{
    cursor: pointer;
    opacity: 0.9;
}
#buttonLogin:hover{
    cursor: pointer;
    opacity: 0.9;
}

#signup {
    position: absolute;
    width: 340px;
    height: 600px;
    top: 40%;
    left: 80%;
    margin-top: -240px;
    margin-left: -170px;
    display:none;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
}
/* login-style additional */
#container {
    position: absolute;
    width: 340px;
    height: 400px;
    top: 45%;
    left: 80%;
    margin-top: -140px;
    margin-left: -170px;
    display:block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
}
#sign-in1 {
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    background: white;
    font-size: 20px;
}
/* login-style making it pretty */
form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
/*styling different input areas */
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 16px;
    width: 290px;
    height: 30px;
}
#lower {
    /*background: #ecf2f5;*/
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
#lower2 {

}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
}
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}