table{
    width: 90%;
    border: 1px solid white;
    border-radius: 3px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
td, th{
    border: 1px solid white;
    padding: 50px;

}
th{
    font-size: 25px;
    height: 50px;
    color: #6F9EB2​;

}
td{
    font-size: 18px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}

#ShootoutÜbersicht {
    margin-top: 130px;
    margin-left: 50px;
    margin-right:50px;
    border-spacing: 7px;

}

table, th, td {
    padding: 5px;
}

#spalte {
    width: 30%;
    background:#E9AD9C;
    color: #fff;
    text-align: center;

}

#ranking {
    margin-top: 80px;
    text-align: center;
}
#caption{
    text-align: center;
}
#search_shootout{
    width: 15%;
    margin-left: 60px;
}


/* creates Help Button ShootoutRanking*/
     .helpBtn3{
     background-color: #E9AD9C;
     border: none;
     width: 40px;
     height: 40px;
     position: fixed;
     margin-left: 1142px;
     display: inline-block;
     bottom: 490px;
     z-index: 2;
     border-radius: 5px;
     color: white;
     }
     .helpBtn3 .helpText{
     visibility: hidden;
     width: 150px;
     height: 165px;
     background-color: #E9AD9C;
     color: white;
     text-align: center;
     border-radius: 5px;
     padding: 7px 0;
     position: absolute;
     z-index: 1;
     bottom: -315%;
     left: -230%;
     margin-left: -70px;
     opacity: 0;
     transition: opacity 0.3s;
     }
     .helpBtn3 .helpText::after{
     content: "";
     position: absolute;
     top: 10%;
     left: 100%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #E9AD9C transparent transparent transparent;
     }
     .helpBtn3:hover .helpText{
     visibility: visible;
     opacity: 1;
     }
     .helpBtn3:hover{
     cursor: pointer;
     opacity: 0.9;}

   /* creates Help Button ShootoutÜbersicht*/
         .helpBtn4{
         background-color: #E9AD9C;
         border: none;
         width: 40px;
         height: 40px;
         position: fixed;
         margin-left: 1235px;
         display: inline-block;
         bottom: 510px;
         z-index: 2;
         border-radius: 5px;
         color: white;
         }
         .helpBtn4 .helpText{
         visibility: hidden;
         width: 150px;
         height: 100px;
         background-color: #E9AD9C;
         color: white;
         text-align: center;
         border-radius: 5px;
         padding: 7px 0;
         position: absolute;
         z-index: 1;
         bottom: -150%;
         left: -230%;
         margin-left: -70px;
         opacity: 0;
         transition: opacity 0.3s;
         }
         .helpBtn4 .helpText::after{
         content: "";
         position: absolute;
         top: 10%;
         left: 100%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: #E9AD9C transparent transparent transparent;
         }
         .helpBtn4:hover .helpText{
         visibility: visible;
         opacity: 1;
         }
         .helpBtn4:hover{
         cursor: pointer;
         opacity: 0.9;}

    .container {
    position: center;
    }